<h3>hola el archivo nuevo</h3>

<%= form_for :articulo do |f| %>
  <p>
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </p>
 
  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>
 
  <p>
    
    <button class="btn-info" type="submit">Guardar</button>
  </p>
<% end %>